.card{
    height: 70%;
    max-width: 1000px;
    border-radius: 10px;
    background-color: grey;
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    max-width: 500px;
    min-width: 350px;
}

.cardimg img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-content{
    height: 40%;
    width: 100%;
   padding: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

     overflow-wrap: break-word;
     word-break: break-word;
    
}